#!/bin/bash

# General
alias v="vim"
alias vv="vim ."

alias plan='vim +set\ ft=todo ~/.plan'
alias adventure='vim "~/adventures/$(date).txt"'
alias today='date;cal'

alias vimrc='vim .vim/vimrc'
alias zshrc='vim .zshrc'
alias stows='vim ~/doftiles'

alias s="ls -tr -1h --color=tty"
alias sl="ls -r"
alias ll="ls -rlAt -1h --color=tty"
alias l="ls -tAh -1"

alias please="fc"

alias aliases="vim ${ALIASES} && source ${ALIASES}"
alias exports="vim ${EXPORTS} && source ${EXPORTS}"

# Windows
alias explorer="explorer.exe"

# Arch Linux
alias ayy="yay -S"
alias yeet="yay -Rns"
alias hc=herbstclient

# Files
alias cd..="cd .."
alias cp="cp -vi"
alias df=duf
alias open=xdg-open
alias sysc=systemctl

# Mess
# /home/kine/.bin/tasks
# /home/kine/.bin/adventure
alias done="todo -r"
#alias task="todo -a"
alias adventure='vim "${HOME}/www/root/adventure/$(date).txt"'
alias ppid='ps -o ppid=,cmd= -p'
alias fwhich="which-file"
alias lls="readlink -e"
alias lb_navigate='cd ${LOCAL_BIN}'
alias sudi="sudo -i"
alias sude="sudo -E su"
alias show=bat
alias ff="find ~/ | fzf"
alias preview="fzf --preview 'bat --color \"always\" {}'"
alias please='please "$(fc -ln -1)"'
alias ri="rm -ri"
alias rr="rm -r"
alias pgrep="pgrep -l"
alias winefy='export WINEARCH=win64 WINEPREFIX=`pwd`'
alias netmum='nload -m u m'
alias root_from_boot='journalctl -b | grep -i sudo'
alias ss="please ss"
alias up=uprecords
alias tasks_session='vim --servername tasks'

# Todo
alias last="echo vim expansion for edit last file"
#alias la="ls -l|grep --color \"->\"|sed -e 's/->\(.*\)/\n->\1/g'"

# SSH
alias surface='ssh surface'
alias portable='ssh portable'

