export XDG_CONFIG_HOME=~/.config
export MOZ_WEBRENDER=1
export MOZ_X11_EGL=1

export BROWSER=/usr/bin/firefox
export TERMINAL=gnome-terminal
export EDITOR=vim
export VISUAL=vim

export TASKRC=${HOME}/.config/taskrc

export LOCAL_BIN=~/bin
export SFDX_PATH=/usr/local/lib/sfdx/bin
export WALLPAPER=~/.local/share/wall.jpg

export VK_ICD_FILENAMES=/usr/share/vulkan/icd.d/radeon_icd.x86_64.json

export DISPLAY=$(ip route list default | awk '{print $3}'):0
export LIBGL_ALWAYS_INDIRECT=1

